@model IEnumerable<CrudApp.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">  
    $(document).ready(function () {  
        $('form').validate({  
            rules: {  
                xmlFile: {  
                    required: true  
                }  
            },  
            messages: {  
                xmlFile: "Choose file to upload",  
            }  
        })   
    });  
</script> 

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Upload", "Employees", FormMethod.Post, new { enctype = "multipart/form-data" }))  
{  
    <div class="row">  
        <div class="col-sm-1 col-md-6 col-xs-12">  
            <h5 class="text-danger">@ViewBag.Error</h5>  
            <h5 class="text-success">@ViewBag.Success</h5>  
            <div class="form-group">  
                <label>Choose XML File:</label>  
                <div class="input-group">  
                    <div class="custom-file">  
                        <input id="xmlFile" name="xmlFile" type="file" class="custom-file-input" />  
                        <label class="custom-file-label"></label>  
                    </div>  
                    <div class="input-group-append">  
                        <input type="submit" class="btn btn-outline-primary" value="Upload" />  
                    </div>  
                </div>  
            </div>  
        </div>  
    </div>  
} 

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.division)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.building)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.room)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.division)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.building)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.room)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
